// -------------------------------------------
//   SASS variables
// -------------------------------------------

/* Colors */

$font-base:  #404040;
$font-light: #777;
$font-dark:  #000;
$font-white: #FFF;

$error: #B94A48;
$warning: #C09853;
$success: #468847;
$notice: #3A87AD;

$light-button: #DB7AEE;

/* Fonts */
$open-sans: "Open Sans", sans-serif;
