// -------------------------------------------
//   Text Emphasis
// -------------------------------------------

.text-light {
  color: $font-light;
}
.text-error {
  color: $error;
}
.text-warning {
  color: $warning;
}
.text-success {
  color: $success;
}
.text-notice {
  color: $notice;
}
